# -----------------------------
# Cogni API Configuration
# -----------------------------
API_COGNI_URL=<your-cogni-api-url>
API_COGNI_KEY=<your-cogni-api-key>
API_COGNI_SECRET=<your-cogni-api-secret>

# -----------------------------
# Sankhya API Configuration
# -----------------------------
API_SANKHYA_URL=<your-sankhya-api-url>
API_SANKHYA_TOKEN=<your-sankhya-api-token>
API_SANKHYA_APP_KEY=<your-sankhya-app-key>
API_SANKHYA_USERNAME=<your-sankhya-username>
API_SANKHYA_PASSWORD=<your-sankhya-password>
API_SANKHYA_SERVICE_NAME=<your-sankhya-service-name>

# -----------------------------
# Blip API Configuration
# -----------------------------
API_BLIP_URL=<your-blip-api-url>
API_BLIP_AUTH=<your-blip-api-auth-token>

# -----------------------------
# Blip Message Templates
# -----------------------------
TEMPLATE_MASTER_STATE=<master-state-template>
TEMPLATE_ACTIVE_MESSAGE_FLOWID=<active-message-flow-id>
TEMPLATE_NA100_NAME=<na100-template-name>
TEMPLATE_NA100_STATEID=<na100-state-id>
TEMPLATE_NA200_NAME=<na200-template-name>
TEMPLATE_NA200_STATEID=<na200-state-id>
TEMPLATE_NA300_NAME=<na300-template-name>
TEMPLATE_SANKHYA_NA300_NAME=<sankhya-na300-template-name>
TEMPLATE_NA300_STATEID=<na300-state-id>
TEMPLATE_NA400_NAME=<na400-template-name>
TEMPLATE_SANKHYA_NA400_NAME=<sankhya-na400-template-name>
TEMPLATE_NA400_STATEID=<na400-state-id>
TEMPLATE_NA500_NAME=<na500-template-name>
TEMPLATE_SANKHYA_NA500_NAME=<sankhya-na500-template-name>
TEMPLATE_NA500_STATEID=<na500-state-id>
TEMPLATE_NA600_NAME=<na600-template-name>
TEMPLATE_NA600_STATEID=<na600-state-id>
TEMPLATE_SANKHYA_NA600_STATEID=<sankhya-na600-state-id>
TEMPLATE_NA700_NAME=<na700-template-name>
TEMPLATE_NA700_STATEID=<na700-state-id>
TEMPLATE_SANKHYA_NA700_STATEID=<sankhya-na700-state-id>
